:root {
    --primaryTextColor: black;
    --hoverColor: #8002df;
}


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}


a {
    color: black;
    text-decoration:none;
}


.Nav_layout {
    display:flex;
    padding: 5px 120px;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.Nav_logo {
    margin-right: auto;
    cursor: pointer;
}

.Nav_logo a {
    color:black;
    text-decoration:none;
}

.Nav_item {
    display:flex;
    /* align-items: center; */
    cursor: pointer;
    transform: translate(-150%, 0);
}

.Nav_item a {
    color:black;
    text-decoration:none;
}

.Nav_item a:hover {
    color: var(--hoverColor);
}

.Nav_item > h4 {
    margin-left: 20px;
}


.MainBody {
    padding: 130px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}


/* style just for projects------------------------------------------------------ */
.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:80%;
}

.expertise {
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.expertise > h3 {
    background-color: var(--hoverColor);
    font-weight:lighter;
    font-size: 11px;
    margin-bottom: 0;
    color: white;
    padding: 8px 15px;
    border-radius: 7px;
    margin-right: 20px;
} 

.contribute {
    border-left: 2px solid var(--hoverColor);
    width: 40%;
}

.contribute > h3 {
    font-weight:lighter;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 0;
}


.MainBody > h4 {
    /* font-size: 15px; */
    font-weight: 200;
    width: 85%;
    margin-bottom: 50px;
    text-align: justify;
}

.MainBody > p {
    margin-left: 0;
    text-align: left;
}

.MainBody > ul {
    list-style-type: decimal;
    margin-top: 0;
    text-align: left;
}


img {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 30px;
}

.icon {
    width:200px;
    padding:0;
}

.half {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;
    /* margin-top: 50px; */
}

.half > img {
    width:40%;
}



@media only screen and (max-width: 510px) {
    .Nav_logo {
        font-size: 0%;
    }

    .MainBody {
        padding: 130px 5%;
    }

    .MainBody > h3 {
        width: 85%;
    }

    .MainBody > h4 {
        width: 85%;
    }

    .subtitle {
        width:100%;
    }

    .expertise {
        width:50%;
    }

    .contribute {
        width:50%;
    }
}